body {
    background-color:rgb(51, 204, 255);
}

.wrap{
    position:relative;
    margin-top:52px;
}
.holder{
    background-color:#222;
    padding:10px;
    color:#fff;
    margin:2px 0px;
    border-radius:10px;
    border:3px solid rgba(51, 204, 255,.6);
    text-shadow:1px 1px 1px #000;

}
